body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

input{
    border-radius: 8px !important;
    margin: 10px !important;
}

.modal-content{
    background-color: #eaedef !important;
}

.required{
    color: red;
    margin-left: 5px;
}

#hamburger {
    display: none;
}

.scroll {
    overflow-x: scroll;
}

.title {
    text-transform: uppercase;
    margin-left: 30px;
    font-weight: 600;
}

.antialiased {
    min-height: 100vh;
}
.admin_wraper {
    width: 100%;
    display: flex;
    height: inherit;
    padding: 0;
    margin: 0;
}

.sidebar {
    width: 100%;
    max-width: 300px;
    background-color: #212529;
    color: white;
}

.content {
    width: 100%;
    margin-top: 50px;
}

.aside {
    height: 100vh;
}

.logo_container {
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no_link {
    text-decoration: none;
    color: grey;
}
.no_link:hover {
    text-decoration: none;
    color: grey;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}
h5 {
    display: block;
    padding: 20px;
    text-transform: uppercase;
}

.table_title {
    color: grey;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
}

.station_block {
    height: 250px;
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #eaedef;
    margin: 20px;
    border-radius: 15px;
}

.custom_shadow {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.custom_shadow:hover {
    /* background-color: #f7f8f9; */
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    color: grey;
    padding: 11px;
}

.fire_station_img {
    height: 80px;
    text-align: center;
}
.fire_station_img img {
    height: 70px;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

/* ============================== start broadcasting ============================== */

#app {
    min-height: 100vh;
    position: relative;
    overflow-y: hidden;
}
.active {
    animation-duration: 7s;
    animation-name: newMessage;
}

#action {
    position: fixed;
    bottom: -100%;
    right: 50px;
    height: 10px;
    padding: 15px;
    border-radius: 10px;
    padding: 20px;
    color: #155724;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.danger {
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 10px;
    background-color: #dc3645;
    color: white;
}

.not_danger {
    padding: 10px;
    border-radius: 10px;
    background-color: #d4edda;
}

@keyframes newMessage {
    0% {
        bottom: -100%;
    }

    10% {
        bottom: 10%;
    }

    90% {
        bottom: 10%;
    }

    100% {
        bottom: -100%;
    }
}

.indicator {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}
#real {
    background-color: red;
}

#learning {
    background-color: green;
}

#station,
#object {
    margin-top: 15px;
}

.station_object_title{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.station_object_location{
    font-size: 16px;
}

.station_object_count{
    font-size: 14px;
    font-weight: normal;
    text-transform: lowercase;
}

.station_block_info_section{
    height: 140px;
    position: relative;
}

.station_block_last_action{
    position: absolute;
    bottom: 0;
    left: 0;
}

.user_header_action_btn{
    justify-content: flex-end !important;
}

/* ============================== stop broadcasting  ============================== */

@media screen and (max-width: 800px) {

    .title {
        margin-left: 0;
    }
    .active {
        animation-duration: 7s;
        animation-name: newMessage;
    }

    #action {
        position: fixed;
        bottom: -100%;
        width: 100%;
        left: 0;
        height: 10px;
        padding: 15px;
        border-radius: 10px;
        padding: 20px;
        color: #155724;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .not_danger {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color: #d4edda;
    }

    @keyframes newMessage {
        0% {
            bottom: -100%;
        }

        10% {
            bottom: 5%;
        }

        90% {
            bottom: 5%;
        }

        100% {
            bottom: -100%;
        }
    }

    #hamburger {
        display: block;
    }

    /* #user_menu{
        display: none;
    } */

    .event_menu {
        display: none !important;
    }

    .station_block_wrap {
        width: 100%;
        margin: 15px 0;
    }
    .station_block {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .fire_station_img {
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fire_station_img img {
        height: 40px;
    }

    .station_block_title,
    .station_block_location,
    .station_block_objects_count {
        font-size: 12px;
    }
    .station_block_last_action {
        font-size: 10px;
    }

    .station_block_title {
        font-weight: 700;
        text-transform: uppercase;
    }

    .mt-5 {
        margin-top: 15px !important;
    }

    .mb-5 {
        margin-bottom: 15px !important;
    }

    .how_it_work {
        font-size: 12px;
    }

    #station,
    #object {
        margin-top: 5px;
    }

    thead,
    tbody,
    tfoot,
    tr,
    td,
    th {
        font-size: 12px;
    }

    .station_object_title{
        font-size: 16px;
        text-transform: uppercase;
    }
    .station_object_location{
        font-size: 14px;
    }

    .station_object_count{
        font-size: 12px;
        font-weight: bold;
    }

    .station_block_info_section{
        height: auto;
        position: inherit;
    }
    
    .station_block_last_action{
        position: inherit;
    }

    .user_header_action_btn{
        justify-content: space-between !important;
    }
}
